pipeline/data-ingestion-pipeline.json
{
	"name": "data-ingestion-pipeline",
	"properties": {
		"description": "Data Ingestion Pipeline\n",
		"activities": [
			{
				"name": "PrepareData",
				"description": "Data processing",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/devops-ds/data-prepare",
					"baseParameters": {
						"data_file_name": {
							"value": "@variables('data_file_name')",
							"type": "Expression"
						},
						"input_mount_point_name": {
							"value": "@variables('input_mount_point_name')",
							"type": "Expression"
						},
						"training_mount_point_name": {
							"value": "@variables('training_mount_point_name')",
							"type": "Expression"
						},
						"testing_mount_point_name": {
							"value": "@variables('testing_mount_point_name')",
							"type": "Expression"
						},
						"adf_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					},
					"libraries": [
						{
							"pypi": {
								"package": "lightgbm"
							}
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference",
					"parameters": {
						"databricks_cluster_id": {
							"value": "0422-001139-tuft895",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ML Execute Pipeline",
				"type": "AzureMLExecutePipeline",
				"dependsOn": [
					{
						"activity": "PrepareData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"experimentName": "Retrain",
					"mlPipelineParameters": {
						"caller_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"data_file_path": {
							"value": "@concat(pipeline().RunId,'/',variables('data_file_name'))",
							"type": "Expression"
						}
					},
					"mlPipelineId": {
						"value": "e57cf403-035f-4d62-958a-dc37c5f3c059",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureMLService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"data_file_name": {
				"type": "String",
				"defaultValue": "porto_seguro_safe_driver_prediction_input.csv"
			},
			"input_mount_point_name": {
				"type": "String",
				"defaultValue": "/mnt/inputdata"
			},
			"training_mount_point_name": {
				"type": "String",
				"defaultValue": "/mnt/trainingdata"
			},
			"testing_mount_point_name": {
				"type": "String",
				"defaultValue": "/mnt/testingdata"
			},
			"ml_pipeline_id": {
				"type": "String",
				"defaultValue": "b07adefa-f77a-4b5f-be8d-1d0ec6b4ab5d"
			},
			"databricks_cluster_id": {
				"type": "String",
				"defaultValue": "0304-001904-vest3"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-04-22T00:40:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}